[submodule "physopt/models/physion"]
	path = physopt/models/physion
	url = git@github.com:neuroailab/physion.git
[submodule "physopt/models/cswm"]
	path = physopt/models/cswm
	url = git@github.com:neuroailab/c-swm.git
