absl-py==0.11.0
alembic==1.4.1
astor==0.8.1
astunparse==1.6.3
backcall==0.2.0
boto3==1.20.3
botocore==1.23.3
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
clip @ git+https://github.com/openai/CLIP.git@cfcffb90e69f37bf2ff1e988237a0fbe41f33c04
click==8.0.3
cloudpickle==1.6.0
-e git+git@github.com:neuroailab/c-swm.git@9a2c1ffb465fe51f2673f72e2a02101d15fb26d4#egg=cswm
cycler==0.10.0
databricks-cli==0.16.2
dataclasses==0.6
decorator==4.4.2
dill==0.3.3
dm-tree==0.1.6
docker==5.0.3
entrypoints==0.3
Flask==2.0.2
flatbuffers==1.12
freetype-py==2.2.0
ftfy==6.0.3
future==0.18.2
gast==0.3.3
gitdb==4.0.9
GitPython==3.1.24
google-auth==1.26.1
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.32.0
gunicorn==20.1.0
h5py==2.10.0
hsluv==5.0.2
hyperopt==0.2.5
idna==2.10
imageio==2.13.3
imageio-ffmpeg==0.4.5
importlib-metadata==4.8.2
ipython==7.29.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.0.1
keras==2.7.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
libclang==12.0.0
lpips==0.1.4
Mako==1.1.5
Markdown==3.3.3
MarkupSafe==2.0.1
matplotlib==3.3.4
matplotlib-inline==0.1.3
mlflow==1.21.0
multiprocess==0.70.11.1
networkx==2.5
nose==1.3.7
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==21.2
pandas==1.3.4
parso==0.8.2
pathos==0.2.7
pexpect==4.8.0
-e git+git@github.com:neuroailab/physion.git@48f3d27f7258f1f0ceec718d282c32a6112b1e42#egg=physion
-e git+git@github.com:neuroailab/physopt.git@e7cc6fff79085d8622d61a6e0e97ebf2b8f371db#egg=physopt
pickleshare==0.7.5
Pillow==8.4.0
pox==0.2.9
ppft==1.6.6.3
prometheus-client==0.12.0
prometheus-flask-exporter==0.18.5
prompt-toolkit==3.0.22
protobuf==3.14.0
psycopg2-binary==2.9.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.10.0
pymongo==3.11.4
pyparsing==2.4.7
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.3
PyWavelets==1.2.0
PyYAML==5.4.1
querystring-parser==1.2.4
regex==2021.11.10
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
s3transfer==0.5.0
scikit-image==0.19.1
scikit-learn==0.24.1
scipy==1.5.4
six==1.15.0
sklearn==0.0
smmap==5.0.0
SQLAlchemy==1.4.26
sqlparse==0.4.2
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-gan==2.1.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow-probability==0.15.0
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2021.11.2
timm==0.3.4
toml==0.10.2
--f https://download.pytorch.org/whl/torch_stable.html  
torch==1.10.0+cu113
torchaudio==0.10.0+cu113
torchvision==0.11.1+cu113
tqdm==4.56.0
traitlets==5.1.1
typing-extensions==3.7.4.3
urllib3==1.26.3
vispy==0.9.4
wcwidth==0.2.5
websocket-client==1.2.1
Werkzeug==2.0.2
wrapt==1.12.1
yacs==0.1.8
zipp==3.4.0
